body {
    background-color: silver;
}
div#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.content {
    background-color: darkgreen;
    width: 250px;
    height: 100px;
    padding: 1em;
    border: 15px dashed black;
    box-sizing: border-box;
    margin: 30px;
}