body {
    background-color: silver;
}
div#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
div.content {
    background-color: darkgreen;
    width: 250px;
    height: 100px;
    padding: 1em;
    box-sizing: border-box;
    margin: 0.5em;
}