:root {
    --corporate_background-color: #119a11;
}
body {
    font-family: sans-serif;
}
p {
    background-color: var(--corporate_background-color);
}
.content {
    background-color: silver;
}
#detail {
    background-color: var(--corporate_background-color);
}
.mono {
    font-family: monospace;
}