:root {
    --corporate_background-color: #70d070;
}
body {
    font-family: sans-serif;
}
p {
    background-color: var(--corporate_background-color);
    max-width: 80vw;
}
.content {
    background-color: silver;
}
#detail {
    background-color: var(--corporate_background-color);
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    border: 5px dotted black;
}
.mono {
    font-family: monospace;
}